.pad-5 {
    padding-right: 10px;
    padding-left: 10px;
}

.card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    &::hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .imgHeader {
        padding: 20px 0 0;
        background-color: #1ab394;
        .roundImg {
            max-width: 70px;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 30px;
            img {
                margin-bottom: -30px;
                border-radius: 50%;
            }
        }
    }
    .cardTextArea {
        padding: 2px 16px;
        .userBasicInfo {
            margin-bottom: 10px;
            // border-bottom: 1px solid #ccc;
        }
    }
    .viewProfile {
        margin-bottom: 15px;
    }
}
